@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: local("roboto_condensedbold"),
    url(https://g.newsweek.com/www/fonts/robotocondensed-bold-webfont.woff2)
      format("woff2"),
    url(https://g.newsweek.com/www/fonts/robotocondensed-bold-webfont.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: local("roboto_condensedregular"),
    url(https://g.newsweek.com/www/fonts/robotocondensed-regular-webfont.woff2)
      format("woff2"),
    url(https://g.newsweek.com/www/fonts/robotocondensed-regular-webfont.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: local("roboto_condensedlight"),
    url(https://g.newsweek.com/www/fonts/robotocondensed-light-webfont.woff2)
      format("woff2"),
    url(https://g.newsweek.com/www/fonts/robotocondensed-light-webfont.woff)
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  font-display: swap;
  src: local("playfair_displayregular"),
    url(https://g.newsweek.com/www/fonts/playfairdisplay-regular.eot);
  font-display: swap;
  src: url(https://g.newsweek.com/www/fonts/playfairdisplay-regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://g.newsweek.com/www/fonts/playfairdisplay-regular.woff2)
      format("woff2"),
    url(https://g.newsweek.com/www/fonts/playfairdisplay-regular.woff)
      format("woff"),
    url(https://g.newsweek.com/www/fonts/playfairdisplay-regular.ttf)
      format("truetype"),
    url(https://g.newsweek.com/www/fonts/playfairdisplay-regular.svg#playfair_displayregular)
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  font-display: swap;
  src: local("farromedium"),
    url(https://g.newsweek.com/www/fonts/farro-medium-webfont.woff2)
      format("woff2"),
    url(https://g.newsweek.com/www/fonts/farro-medium-webfont.woff)
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: local("loraregular"),
    url(https://g.newsweek.com/www/fonts/lora-regular-webfont.woff2)
      format("woff2"),
    url(https://g.newsweek.com/www/fonts/lora-regular-webfont.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* CUSTOM */

/* header*/
body {
  font-size: 15px;
  line-height: 20px;
  background-color: #f4f5f6;
  color: #333;
}

a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
}

.link-1,
.link-2,
.link-3 {
  position: relative;
  font: bold 14px/14px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 3px;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

header {
  z-index: 10;
}

header .container {
  position: relative;
  max-width: 1310px;
  margin: 0 auto;
}

header .header-top {
  background-color: #f72210;
  height: 95px;
  padding: 20px 10px 15px;
  position: relative;
  z-index: 2;
}

header .header-middle {
  transform: translate(-50%,0);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f72210;
}

header .header-bottom {
  position: relative;
  display: block;
  padding-right: 160px;
  background-color: #fff;
  border-bottom-color: #f4f5f6;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  z-index: 1;
}

header .header-bottom::before {
  width: 66px;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
}

header .header-bottom .nav-bar {
  color: #000;
  width: 100%;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed",sans-serif;
  list-style: none outside none;
  outline: 0 none;
  margin: 0;
  padding: 0;
}

header .header-bottom .nav-bar li {
  border-left-color: #d9d9d9;
  flex-grow: 1;
  text-align: center;
  border-left-width: 1px;
  border-left-style: solid;
}

header .header-bottom .nav-bar li:first-child {
  border-left-width: 0;
}

header .header-bottom .nav-bar li a {
  color: #000;
}

header .header-bottom .nav-bar li a:hover {
  color: #f72210;
}

#search-input {
  width: 60px;
  height: 54px;
  position: absolute;
  top: 0;
  right: 102px;
  color: rgba(0,0,0,.55);
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border: 0;
  outline: none;
}

.search-icon {
  background: url(../img/search-icon.svg) center/contain no-repeat #fff;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
  right: 82px;
  top: 18px;
}

header .logo img {
  width: 396px;
  height: 60px;
  margin: 10px auto 0;
}

header date {
  font: 16px/34px "Roboto Condensed",sans-serif;
  color: #fff;
  margin-left: 20px;
  display: block;
}

header .link-2 {
  color: #fff;
}

header .link-3 {
  background-color: #fff;
  color: #f72210;
  padding-left: 12px;
}

header .link-3 img {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  vertical-align: initial;
}

@media screen and (min-width: 481px) {
  .link-1,
  .link-2,
  .link-3 {    
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  header .link-2 {
    padding: 6px 12px;
  }
}